* {
    line-height: 1.25em;
    -webkit-font-smoothing: antialiased;
    font-family: "Public Sans", sans-serif;
    font-size: 16px;
    font-weight: normal;
}

.container {
    margin: 20px;
}

.content {
    margin-top: 20px;
}

body {
    background-image: url(backdrop-bw.jpg);
    background-size: 1300px;
}

h1 {
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}

ul {
    margin: 0px;
    padding-left: 0px;
    list-style-type: none;
}

a {
    color: rgb(90, 90, 90);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    /* color: rgb(200, 0, 0); */
}

/* img {
    height: 600px;
    position: fixed;
    z-index: -1;
} */