* {
    /* font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif; */
    /*add font smoothing?*/
    /*add line height?*/
    line-height: 1.25em;
    -webkit-font-smoothing: antialiased;
    /* font-family: "HelveticaNeue-Light", "Helvetica Neue", Arial, "Lucida Grande", sans-serif; */
    font-family: "Public Sans", sans-serif;
    font-size: 16px;
    font-weight: normal;
}

.container {
    margin: 20px;
}

.content {
    margin-top: 20px;
}

.container {

}

body {
    background-image: url(backdrop-new.jpg);
    background-size: 1400px;
}

h1 {
    /* font-size: 20px; */
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}

ul {
    margin: 0px;
    padding-left: 0px;
    list-style-type: none;
}

a {
    color: rgb(85, 85, 85);
    /* color: rgb(200, 0, 0); */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: rgb(200, 0, 0);
}

/* img {
    height: 600px;
    position: fixed;
    z-index: -1;
} */